<ion-header>
  <ion-toolbar>
    <ion-title>{{category}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>{{ron}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-input >{{puntuacion}}</ion-input>
<ion-input >{{ time | async}}</ion-input>

<ion-content>
<div ngModel="loading">
  <ion-input class="pregunta" [innerHTML]="pregunta" ></ion-input>
  <ion-button (click)="incorrecta()" class="repuesta">{{respuestasf2}}</ion-button>
  <ion-button  (click)="correcta()"class="repuesta" >{{RespuestaC}}</ion-button>
  <ion-button (click)="incorrecta()" class="repuesta">{{respuestasf0}}</ion-button>
  <ion-button  (click)="incorrecta()" class="repuesta">{{respuestasf1}}</ion-button>
</div>





</ion-content>