.historia{
    background-color: rgb(255, 192, 0);
    border: 2px solid #000000;
    width: 80px;
    
   

}
.entretenimiento{
    background-color: rgb(249, 47, 220);
    border: 2px solid #000000;
    width: 80px;
}
.arte{
    background-color: rgb(246, 39, 34);
    border: 2px solid #000000;
    width: 80px;
}
.ciencias{
    background-color: rgb(0, 176, 80);
    border: 2px solid #000000;
    width: 80px;
}
.deporte{
    background-color: rgb(247, 147, 13);
    border: 2px solid #000000;
    width: 80px;
}
.geografia{
    background-color: rgb(0, 112, 192);
    border: 2px solid #000000;
    width: 80px;
}

.icono{
    color: #000000;
}