

  <ion-toolbar>

  <ion-tab-bar expand="full">
  
   
    
      <ion-tab-button class="historia">
         <ion-icon  class="icono" name="book"></ion-icon>
      
      </ion-tab-button>

      <ion-tab-button class="entretenimiento">
        <ion-icon class="icono" name="musical-note"></ion-icon>
       
      </ion-tab-button>

      <ion-tab-button class="deporte">
        <ion-icon class="icono" name="tennisball"></ion-icon>
        
      </ion-tab-button>

      <ion-tab-button class="ciencias">
        <ion-icon class="icono" name="flask"></ion-icon>
     
      </ion-tab-button>

      <ion-tab-button class="arte">
        <ion-icon class="icono" name="color-palette"></ion-icon>
    
      </ion-tab-button>

      <ion-tab-button class="geografia">
        <ion-icon class="icono" name="globe"></ion-icon>
       
      </ion-tab-button>

    </ion-tab-bar>
        
  </ion-toolbar>


